[submodule "vagrant/modules/stdlib"]
	path = vagrant/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "vagrant/modules/puppi"]
	path = vagrant/modules/puppi
	url = https://github.com/example42/puppi.git
